.header,
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: white;
    padding: 16px;

    
}

.header .text {
    font-size: 48px;
    font-weight: Bold;
}
.footer {
    justify-content: center;
}

.projects .header {
    justify-content: center;
}




ul {
    display: flex;
    margin: 0;
    gap: 16px;
    color:  white;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: white;

}

.body {
    flex: 1;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects {
    background-color: #E5E7EB;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
}
.descriptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;

}

.descriptions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: auto;
  flex: 0;
}

.descriptions-container img {
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 25px;
}
html,
body {
    margin: 0;
    padding: 0;
}

body {
    

    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
